.titleBox {
    margin-bottom: 20px;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.signinCheck {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.personalInfo {
    font-size: 12px;
    color: red;
}