.header {
    background-color: white;
    padding: 15px 22px;
    margin-bottom: 20px;
}
.index {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

}
.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px
}
.username {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

