.preview {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}
.text {
    max-width: 655px;
}
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #424142;
    margin-top: 5px;
}
.headerInfo {
    display: flex;
    align-content: flex-end;
    margin-bottom: 5px;
}
.title {
    display: block;
    line-height: 28px;
    color: #1890FF;
    font-weight: 400;
    font-size: 20px;
    margin-right: 13px;
}
.count {
    display: block;
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
}
.profileBlock{
    display: flex;
    gap: 10px
}
.profile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    min-width: 141px;
    margin-left: auto;
}
.nameInfo {

    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}
.name {

    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    flex: 1 1 auto
}
.date {

    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    flex: 1 1 auto
}
.avatar {
    margin-top: 5px;
}
.btnBlock{
    display: flex;
    justify-content: right;
}
